.K{
    margin-top: 25px;
    padding: 10px;
    padding-left: 30px;
    border-radius: 3px;
    background-color: honeydew;
    padding-right: 30px;
 margin-left: 20%;
}
.s{
    text-decoration: none;
}

.p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 50px;
    font-size: 80px;
    padding-bottom: 25px;
}