.A{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 50px;
    font-size: 80px;
}
.i2{
   padding: 8px;
   border-radius: 5px;
/* margin-left: 30px; */
/* background-color:pink; */
/* color: whitesmoke; */
border-color: whitesmoke;
}
.card{
    margin-bottom: 25px;
}